{% extends 'base.html' %}
{% block title %}Регистрация{% endblock %}
{% block content %}
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-9 col-lg-7 col-xl-6 mt-4">
                <div class="card border-success" style="border-radius: 30px;">
                    <div class="card-body p-5">
                        <h2 class="text-uppercase text-center mb-4">Создать аккаунт</h2>

                        {% for error in form.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ error }}
                            </div>
                        {% endfor %}

                        <form method="post" action="{% url 'signup' %}">
                            {% csrf_token %}

                            {% for field in form %}
                                <div class="form-outline mt-4" aria-required={% if field.field.required %}"true"
                                {% else %}"false"{% endif %}>
                                <label class="form-label mt-2" for="{{ field.id_for_label }}">{{ field.label }}</label>
                                <input class="form-control form-control-lg"{{ field }}
                                </div>
                                {% if field.help_text %}
                                    <small id="{{ field.id_for_label }}-help" class="text-muted">
                                        {{ field.help_text|safe }}
                                    </small>
                                {% endif %}
                            {% endfor %}
                    <div class="d-flex jus￼>tify-content-center">
                        <button type="submit"
                                class="btn btn-success btn-block btn-lg mt-2">
                            Зарегистрироваться
                        </button>
                    </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}