{% extends "base.html" %}
{% block title %}Изменение пароля{% endblock %}
{% block content %}
    {% load user_filters %}
    <section class="vh-100 vw-100" style="background-color: rgba(0,0,0,0.85)">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-8 p-5">
                    <div class="card border" style="border-radius: 15px">
                        <div class="card-header">Изменить пароль</div>
                        <div class="card-body">

                            {% for error in form.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ error }}
                                </div>
                            {% endfor %}

                            <form method="post">
                                {% csrf_token %}

                                {% for field in form %}
                                    <div class="form-group row mt-3" aria-required={% if field.field.required %}"true"
                                    {% else %}"false"{% endif %}>
                                    <label for="{{ field.id_for_label }}" class="col-md-4 col-form-label text-md-right">
                                        {{ field.label }}{% if field.field.required %}
                                            <span class="required">*</span>{% endif %}
                                    </label>
                                    <div class="col-md-6">

                                        {{ field|addclass:"form-control" }}

                                        {% if field.help_text %}
                                            <small id="{{ field.id_for_label }}-help"
                                                   class="form-text text-muted">{{ field.help_text|safe }}</small>
                                        {% endif %}
                                    </div>
                                    </div>
                                {% endfor %}

                        <div class="col-md-6 mt-2">
                            <button type="submit" class="btn btn-success btn-lg">
                                Изменить пароль
                            </button>
                        </div>
                        </form>

                    </div> <!-- card body -->
                </div> <!-- card -->
            </div> <!-- col -->
        </div> <!-- row -->
    </section>
{% endblock %}