{% extends 'base.html' %}
{% block content %}
    <div class="text-center" style="background-color: rgba(0,0,0,0.8)">
        <div class="cover-container d-flex h-100 p-1 mx-auto flex-column">
            <div class="text mt-5" style="color: silver">
                <h2>Программа для заработка на скинах</h2>
            </div>
            <div class="card-img mt-3">
                <img class="img-fluid" src="../media/screen1.png" alt="image-market-app"
                     style="border-color: silver; border-style: outset; border-radius: 15px; border-width: 5px">
            </div>
            <div class="text-center mt-2" style="color: silver">
                <h5>
                    Данная программа, может помочь вам быстрее продавать скины.<br>
                    Она также может, перебивать цены других пользователей, с её<br>
                    помощью можно добавлять или убирать предметы с торговой площадки.
                </h5>
            </div>
            <div class="text-center mt-3">
                <a href="../media/screen1.png" download="">
                    <button class="btn btn-lg btn-primary " style="color: whitesmoke; border-radius: 10px">
                        <i class="bi bi-cloud-arrow-down me-2"></i>
                        Скчать для Windows 10/11
                    </button>
                </a>
            </div>
            <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-3 border-top border-2 border-secondary">
                <div class="text-center mx-auto pt-4">
                    <img src="../media/rocket-icon-4.jpg" alt="footer-rocket-icon" height="50" ; width="50">
                    <h5>MarketApp ©</h5>
                </div>
            </footer>
        </div>
    </div>
{% endblock %}